/* ----------CONFIG------------------------------ */
.config {
    margin:0px; padding: 0px;
}
/* 
--------------HEADER--------------------------------
*/
.header{
    text-align: none;
    width:1366px;
    height: 40px;
   background-color: #1A335B;
   color: aliceblue;
  
}
.header .img{
    width:390px ;
    height: 40px;
}
.header ul{
    list-style: none; 
    display: inline-block;
}
.header ul li{
    display: inline-block;
    vertical-align: middle;
  
}

